/* Hoja de estilo estilo */
h1{
    color: orange;
}
body{
   background-color: rgb(255, 255, 128);
   background-size: cover;
   border-style: solid;
   border-width: thin;
   border-color: orange;
   width: 50%;
   text-align: center;
   margin-top: 10%;
   margin-left: 25%;

}
a:link {
   /* Enlaces no visitados */
   color: rgb(255, 128, 64);
}

a:visited {
   /* Enlaces visitados */
   color: rgb(255, 128, 64);
}

a:hover, a:focus {
   color: rgb(153, 72, 6);
   /* El usuario esta sobre el enlace */
}

a:active {
   color: rgb(255, 94, 0);
   /* El usuario hace click en el enlace */
}